.title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:#b3cde4;
    font-size:40px;
    border:double 8px;
    padding: 5px 10px 5px 10px;
    margin: 30px 300px;
    background-color:#010f1a;

}

img{
    margin-left: 40%;
}

p, li{
    text-align: center;
    color: #eef3f9;
    font-size: 20px;
}

.list{
    display:table;
    margin:auto;
}

body{
    background-color:#001b2e;
}
a:link{
    color:green
}
a:visited{
    color:#F9F4EE
}